
<div class = "flex flex-col font-mono">
  <h1 class="flex items-center text-4xl mb-11 border border-amber-800 text-amber-800">Post Details
  </h1>
  <div class="border border-amber-800">
    <div class="border">
  <h2 class = "font-bold mb-5">Blog Post Title:</h2>
  <p>{{title}}</p>
  </div>
  <div>
  <h2 class="font-bold mb-5">Blog Post Content:</h2>
    <p class="mb-5">
      {{content}}
    </p>
    </div>
  <p class="border-4 border-amber-800">Created by {{user.name}} on {{createdAt}}</p>
</div>
{{#if comments}}
<div class="border">
     <h3 class="font-bold mb-5">Comments:</h3>
  <ul>
    {{#each comments}}
    <li>
      <p> {{this.comment}}</p>
      <p>Comment by: {{this.user.name}} on {{stamp}}</p>
      <br>
      </li>
    {{/each}}
  </ul>
</div>
{{/if}}
<div class="border">
  <h3 class="font-bold mb-5">Add a comment:</h3>
  <form class="new-comment-form">
    <textarea id="comment" placeholder="Enter your comment"></textarea>
      <input type="hidden" id="blog-id" value="{{id}}">
    <button class="border border-amber-800" type="submit">Submit your comment</button>
  </form>
</div>
</div>
<script src="/js/blog.js"></script>